<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 1.引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!-- 2.创建挂载点 -->
    <div id="app">

        <!-- 遍历数组 -->
        <ul>
            <li v-for="(item,index) in arr" :key="index">{{item}}</li>
        </ul>

        <!-- 遍历对象 -->
        <ol>
            <li v-for="(item,index) in stu" :key="index">{{item}}</li>
        </ol>

        <!-- 遍历对象数组 -->
        <ul>
            <li v-for="(item,index) in books" :key="index">{{item.id}}-{{item.name}}-{{item.price}}</li>
        </ul>

        <!-- 嵌套渲染 -->
        <h2>嵌套渲染</h2>
        <ul>
            <li v-for="item in list" :key="item.id">
                {{item.name}}
                <ol>
                    <li v-for="m in item.music" :key="m.musicId">
                        {{m.musicName}}
                    </li>
                </ol>
            </li>
        </ul>

        <!-- 补充 -->
        <span>{{number+1}}</span>
        <span>{{ok?'yse':'no'}}</span>
        <span>{{msg.split('').reverse().join('')}}</span>


        <!-- v-cloak 资源加载完成之前,调用设置的样式-->
        <div v-cloak>
            {{number}}
        </div>

        <!-- v-once 只会渲染一次-->
        <div v-once>
            {{number}}
        </div>
    </div>

    <script>
        // 3.创建Vue实例
        new Vue({
            el: '#app',
            data: {
                ok: true,
                number: 10,
                msg: '今天下雨了',
                arr: [2, 3, 4, 5],
                stu: {
                    name: '张三',
                    age: 19,
                    gender: '男'
                },
                books: [
                    {
                        id: 1,
                        name: 'html',
                        price: '32'
                    }, {
                        id: 2,
                        name: 'css',
                        price: '15'
                    }, {
                        id: 3,
                        name: 'js',
                        price: '65'
                    }
                ],
                list: [
                    {
                        id: 1,
                        name: '周杰伦',
                        music: [
                            {
                                musicId: 1,
                                musicName: '龙卷风'
                            },
                            {
                                musicId: 2,
                                musicName: '双截棍'
                            }
                        ]


                    }, {
                        name: '林俊杰',
                        music: [
                            {
                                musicId: 1,
                                musicName: '江南'
                            },
                            {
                                musicId: 2,
                                musicName: '可惜没如果'
                            }
                        ]
                    }
                ]
            }
        })
    </script>
</body>

</html>